In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures as PF
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_excel(r"E:/数据分析数据集/td/农旅，生态和控制变量共5个.xlsx")
data

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1.774998,1.686731,1.664816,1.574633,1.532528,1.528995,1.562960,1.635969,1.589396,1.518274
1,1.155724,1.109405,1.106562,1.083351,1.089120,1.082336,1.067795,1.057742,1.062354,1.067817
2,0.683814,0.657436,0.667976,0.650093,0.671431,0.679139,0.660579,0.666876,0.665925,0.658146
3,1.268547,1.331027,1.342257,1.367772,1.380752,1.361947,1.381491,1.384042,1.308680,1.245205
4,1.100176,1.043647,1.043181,1.035559,1.037312,1.021850,1.022482,1.018190,1.010370,1.017639
5,1.019508,1.024848,1.033071,1.138058,1.148655,1.231205,1.181347,1.159180,1.182019,1.158469
6,0.040100,0.040379,0.078999,0.118322,0.160912,0.189872,0.211335,0.259785,0.319139,0.365890
7,0.004120,0.004607,0.037876,0.066473,0.061843,0.111517,0.135326,0.195978,0.255766,0.306250
8,0.024300,0.027333,0.057795,0.093800,0.150136,0.167663,0.167709,0.230820,0.267335,0.308324
9,0.044070,0.049163,0.067905,0.072407,0.182029,0.209511,0.234213,0.270746,0.299880,0.390227
10,0.034012,0.039327,0.052519,0.078746,0.120114,0.154131,0.189829,0.207329,0.274179,0.314198
11,0.047200,0.047482,0.075496,0.092892,0.069694,0.070960,0.196657,0.134473,0.160322,0.202692
12,10.443789,10.214098,11.220601,11.210305,10.626352,11.523959,12.599423,12.722358,13.570197,13.289654
13,11.685411,11.308552,11.020494,11.282964,10.979831,11.642731,10.827645,11.159485,10.860375,10.426085
14,11.304795,10.652959,10.867731,10.993241,10.777794,11.027602,11.313392,10.991779,10.724895,9.960109
15,12.210762,11.703279,11.144771,10.644493,9.805134,10.053580,10.969830,10.461903,10.822827,10.391320
16,11.939049,11.198216,10.870015,11.011848,11.113109,11.919972,11.511781,11.389971,12.374598,12.181040
17,12.080270,11.362425,12.743915,12.636808,12.881527,12.629795,12.580589,11.889124,10.576191,9.704426
18,52.313818,54.706588,51.557762,50.328475,45.234735,36.832176,34.729375,39.844742,39.229032,38.583623
19,52.751576,53.001594,51.852778,50.456334,45.724367,42.668772,42.342856,41.164736,34.691274,33.935646
20,43.751563,46.154902,46.629193,46.893644,45.352743,42.102044,41.782013,40.403842,35.457939,30.863976
21,41.452856,42.813396,43.093256,41.498013,38.923374,38.005438,37.586994,35.074742,35.337722,35.103476
22,37.968977,39.839048,39.717870,38.987626,38.096802,36.647908,34.161885,31.659499,29.688040,29.257685
23,45.685675,46.716308,45.505474,44.995339,43.711553,41.225465,39.258638,38.541758,36.379708,36.214521
24,1551.443296,1650.876007,1793.549247,1924.487598,2008.049166,1977.416774,1954.240497,1775.097577,1791.589048,1931.304222
25,3394.811271,3450.861270,3589.215671,3732.731371,3818.798752,3811.680464,3776.429635,3795.804049,3855.527089,4028.032250
26,2778.810307,3063.708465,3227.789622,3372.988909,3480.964609,3526.497424,3625.065936,3689.416716,3668.488148,3923.567881
27,3751.022048,4280.064688,4527.943961,4773.567107,4904.379659,5040.196077,5425.141021,5202.284906,5151.851869,5363.425598
28,3032.993725,3333.900987,3457.158644,3427.585708,3450.180330,3487.950214,3603.941180,3683.952612,3711.655503,4255.792999
29,2704.914107,2946.100149,3124.095621,3267.885520,3372.255679,3481.510695,3643.339684,3433.480472,3430.502923,3529.154364

In [3]:
data_1 = data.iloc[:6,:]
data_1

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1.774998,1.686731,1.664816,1.574633,1.532528,1.528995,1.562960,1.635969,1.589396,1.518274
1,1.155724,1.109405,1.106562,1.083351,1.089120,1.082336,1.067795,1.057742,1.062354,1.067817
2,0.683814,0.657436,0.667976,0.650093,0.671431,0.679139,0.660579,0.666876,0.665925,0.658146
3,1.268547,1.331027,1.342257,1.367772,1.380752,1.361947,1.381491,1.384042,1.308680,1.245205
4,1.100176,1.043647,1.043181,1.035559,1.037312,1.021850,1.022482,1.018190,1.010370,1.017639
5,1.019508,1.024848,1.033071,1.138058,1.148655,1.231205,1.181347,1.159180,1.182019,1.158469

In [4]:
data_1_ = data_1.mean(axis=0)
data_1_

2010    1.167128
2011    1.142182
2012    1.142977
2013    1.141578
2014    1.143300
2015    1.150912
2016    1.146109
2017    1.153666
2018    1.136457
2019    1.110925
dtype: float64

In [5]:
data_2 = data.iloc[6:12,:]
data_2

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
6,0.040100,0.040379,0.078999,0.118322,0.160912,0.189872,0.211335,0.259785,0.319139,0.365890
7,0.004120,0.004607,0.037876,0.066473,0.061843,0.111517,0.135326,0.195978,0.255766,0.306250
8,0.024300,0.027333,0.057795,0.093800,0.150136,0.167663,0.167709,0.230820,0.267335,0.308324
9,0.044070,0.049163,0.067905,0.072407,0.182029,0.209511,0.234213,0.270746,0.299880,0.390227
10,0.034012,0.039327,0.052519,0.078746,0.120114,0.154131,0.189829,0.207329,0.274179,0.314198
11,0.047200,0.047482,0.075496,0.092892,0.069694,0.070960,0.196657,0.134473,0.160322,0.202692

In [6]:
data_2_ = data_2.mean(axis=0)

In [7]:
data_3 = data.iloc[12:18,:]
data_3_ = data_3.mean(axis=0)

In [8]:
data_4 = data.iloc[18:24,:]
data_4_ = data_4.mean(axis=0)

In [9]:
data_5 = data.iloc[24:30,:]
data_5_ = data_5.mean(axis=0)

In [10]:
data_ = pd.concat([data_1_,data_2_,data_3_,data_4_,data_5_],axis=1)
data_

             0         1          2          3            4
2010  1.167128  0.032300  11.610679  45.654077  2868.999126
2011  1.142182  0.034715  11.073255  47.205306  3120.918595
2012  1.142977  0.061765  11.311255  46.392722  3286.625461
2013  1.141578  0.087107  11.296610  45.526572  3416.541035
2014  1.143300  0.124121  11.030625  42.840596  3505.771366
2015  1.150912  0.150609  11.466273  39.580301  3554.208608
2016  1.146109  0.189178  11.633777  38.310293  3671.359659
2017  1.153666  0.216522  11.435770  37.781553  3596.672722
2018  1.136457  0.262770  11.488180  35.130619  3601.602430
2019  1.110925  0.314597  10.992106  33.993155  3838.546219

In [11]:
data_.columns=['农业生态效率','农旅融合发展水平','财政支农力度','工业化水平','农业经济发展水平']

In [12]:
data_

        农业生态效率  农旅融合发展水平     财政支农力度      工业化水平     农业经济发展水平
2010  1.167128  0.032300  11.610679  45.654077  2868.999126
2011  1.142182  0.034715  11.073255  47.205306  3120.918595
2012  1.142977  0.061765  11.311255  46.392722  3286.625461
2013  1.141578  0.087107  11.296610  45.526572  3416.541035
2014  1.143300  0.124121  11.030625  42.840596  3505.771366
2015  1.150912  0.150609  11.466273  39.580301  3554.208608
2016  1.146109  0.189178  11.633777  38.310293  3671.359659
2017  1.153666  0.216522  11.435770  37.781553  3596.672722
2018  1.136457  0.262770  11.488180  35.130619  3601.602430
2019  1.110925  0.314597  10.992106  33.993155  3838.546219

In [13]:
X = data_.iloc[:,1:]
X

      农旅融合发展水平     财政支农力度      工业化水平     农业经济发展水平
2010  0.032300  11.610679  45.654077  2868.999126
2011  0.034715  11.073255  47.205306  3120.918595
2012  0.061765  11.311255  46.392722  3286.625461
2013  0.087107  11.296610  45.526572  3416.541035
2014  0.124121  11.030625  42.840596  3505.771366
2015  0.150609  11.466273  39.580301  3554.208608
2016  0.189178  11.633777  38.310293  3671.359659
2017  0.216522  11.435770  37.781553  3596.672722
2018  0.262770  11.488180  35.130619  3601.602430
2019  0.314597  10.992106  33.993155  3838.546219

In [41]:
poly = PF(degree=2,include_bias=False)
X_ = poly.fit(X)

In [42]:
X_.get_feature_names_out(X.columns)

array(['农旅融合发展水平', '财政支农力度', '工业化水平', '农业经济发展水平', '农旅融合发展水平^2',
       '农旅融合发展水平 财政支农力度', '农旅融合发展水平 工业化水平', '农旅融合发展水平 农业经济发展水平',
       '财政支农力度^2', '财政支农力度 工业化水平', '财政支农力度 农业经济发展水平', '工业化水平^2',
       '工业化水平 农业经济发展水平', '农业经济发展水平^2'], dtype=object)

In [43]:
X_1 = X_.transform(X)

In [44]:
y = data_['农业生态效率']

In [45]:
linear = LinearRegression().fit(X_1,y)
linear.score(X_1,y)

1.0

In [46]:
[*(zip(X_.get_feature_names_out(X.columns),linear.coef_))][:4]

[('农旅融合发展水平', -0.0001076895248706513),
 ('财政支农力度', -0.001871685692527676),
 ('工业化水平', 0.019039144867549356),
 ('农业经济发展水平', -0.0007190244169969977)]

In [47]:
X_2 = StandardScaler().fit_transform(X)

In [48]:
X_2 = pd.DataFrame(X_2,columns=data_.columns[1:])

In [49]:
X_2

   农旅融合发展水平    财政支农力度     工业化水平  农业经济发展水平
0 -1.246221  1.241894  0.950100 -2.133188
1 -1.220068 -1.169090  1.284106 -1.202036
2 -0.927111 -0.101380  1.109143 -0.589545
3 -0.652652 -0.167079  0.922646 -0.109347
4 -0.251772 -1.360337  0.344309  0.220468
5  0.035094  0.594061 -0.357689  0.399504
6  0.452809  1.345513 -0.631144  0.832521
7  0.748953  0.457219 -0.744991  0.556461
8  1.249834  0.692341 -1.315783  0.574682
9  1.811134 -1.533140 -1.560698  1.450480

In [50]:
y = data_['农业生态效率']

In [95]:
poly = PF(degree=2)
X_2_ = poly.fit(X_2)

In [96]:
X_2_.get_feature_names_out(X.columns)

array(['1', '农旅融合发展水平', '财政支农力度', '工业化水平', '农业经济发展水平', '农旅融合发展水平^2',
       '农旅融合发展水平 财政支农力度', '农旅融合发展水平 工业化水平', '农旅融合发展水平 农业经济发展水平',
       '财政支农力度^2', '财政支农力度 工业化水平', '财政支农力度 农业经济发展水平', '工业化水平^2',
       '工业化水平 农业经济发展水平', '农业经济发展水平^2'], dtype=object)

In [97]:
X_2_1 = X_2_.transform(X)

In [98]:
LinearR = LinearRegression().fit(X_2_1,y)

In [99]:
LinearR.score(X_2_1,y)

1.0

In [100]:
LinearR.coef_

array([-1.72977339e-11, -1.07689590e-04, -1.87168569e-03,  1.90391449e-02,
       -7.19024417e-04, -5.28667799e-04,  1.46787361e-03,  1.78356615e-02,
       -1.24901964e-04, -2.33630183e-02,  5.24806358e-03,  9.38546602e-05,
       -6.51430814e-04, -7.21475545e-06, -1.78199101e-08])

In [101]:
[*(zip(X_2_.get_feature_names_out(X.columns),LinearR.coef_))][1:5]

[('农旅融合发展水平', -0.00010768959021382536),
 ('财政支农力度', -0.0018716856925071216),
 ('工业化水平', 0.019039144867190688),
 ('农业经济发展水平', -0.0007190244170063601)]

In [102]:
data_inference = pd.read_excel(r"E:/数据分析数据集/td/影响机制检验因素共6个.xlsx")
data_inference

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,2809.200000,2927.300000,3056.100000,3183.300000,3286.200000,3351.700000,1744.300000,1376.300000,1441.100000,1517.600000
1,10195.880000,10515.790000,10872.730000,11149.960000,11476.810000,11710.080000,9858.820000,10038.320000,10204.460000,10356.970000
2,5409.780000,5657.080000,5902.770000,6140.280000,6365.830000,6580.990000,6867.500000,6312.860000,6543.810000,6650.470000
3,3371.000000,3571.230000,3842.160000,4081.050000,4292.900000,4468.120000,4187.750000,4335.470000,4424.590000,4515.730000
4,4651.550000,4935.590000,5189.240000,5435.930000,5680.340000,5894.050000,6097.540000,6254.830000,6338.570000,6471.820000
5,3805.000000,4200.000000,4599.685000,2014.132000,2118.393000,2260.816000,2201.616000,2309.599000,2381.969000,2471.520000
6,391.979519,393.563024,391.878669,393.747016,397.400626,392.180162,382.036058,407.461773,414.419249,392.824807
7,1690.847679,1566.957936,1582.180801,1524.007277,1610.285417,1596.089434,1555.345858,1501.562724,1471.994441,1442.046676
8,831.060625,795.572294,770.050574,737.476712,712.921942,694.268339,667.050440,664.586290,652.844747,617.176203
9,497.459136,483.640738,459.361639,456.850139,444.283711,431.514096,411.613347,420.460812,423.120438,420.117038
10,888.172470,854.014995,857.402870,844.254405,840.385408,804.091602,780.079562,754.932420,726.686903,671.513621
11,383.123393,372.680646,363.711907,355.233414,351.386666,381.155979,367.592152,365.450241,356.816426,326.959887
12,110.400000,114.600000,118.300000,112.000000,119.600000,118.500000,117.100000,112.000000,109.600000,108.400000
13,655.150000,673.710000,684.430000,696.370000,705.750000,716.090000,715.030000,706.700000,692.790000,666.720000
14,319.772700,329.671100,333.525800,338.404100,341.391200,338.694400,327.008200,318.723700,311.750400,298.022000
15,350.770000,354.890000,357.660000,351.930000,348.270000,333.870000,327.960000,317.930000,295.820000,273.890000
16,236.570000,242.490000,249.110000,248.190000,247.800000,246.540000,246.440000,245.260000,242.610000,229.010000
17,137.600000,141.100000,141.300000,141.600000,142.900000,143.600000,141.974200,134.971500,123.200000,115.600000
18,2.600000,2.800000,3.000000,3.100000,3.100000,3.100000,3.100000,2.900000,2.700000,2.500000
19,12.490000,12.870000,12.830000,13.010000,12.990000,12.870000,12.710000,12.070000,11.360000,10.720000
20,11.664500,11.747500,11.674100,11.777400,11.397400,11.104800,10.570400,9.939400,9.417700,8.827100
21,14.000000,13.950000,13.590000,12.720000,12.610000,12.070000,11.740000,10.960000,10.330000,9.700000
22,11.876200,12.043200,12.298000,12.429800,12.427700,12.235300,11.866100,11.602300,11.415500,10.554800
23,10.653000,9.969100,10.041300,9.992200,9.476400,9.387300,9.218800,8.773700,7.718300,6.270100
24,1274.150000,1324.780000,1319.160000,1382.790000,1408.170000,1460.280000,1487.210000,1511.210000,1518.680000,1519.340000
25,5080.960000,5150.440000,5205.630000,4969.110000,5101.100000,5210.640000,5242.920000,5273.630000,5288.690000,5328.950000
26,3519.780000,3547.650000,3585.090000,4305.530000,4331.700000,4400.340000,4437.460000,4504.140000,4538.290000,4580.850000
27,2187.170000,2227.630000,2252.910000,2291.170000,2325.840000,2359.600000,2368.750000,2384.140000,2931.900000,2968.990000
28,2726.660000,2762.410000,3070.840000,2768.120000,3101.700000,3113.320000,3132.370000,3145.870000,3164.000000,3176.110000
29,1852.400000,1867.600000,1907.100000,1995.600000,2001.600000,2027.700000,2036.830000,2029.180000,2032.000000,2036.000000
30,3643.340000,3696.700000,3692.310000,3660.380000,3659.980000,3610.070000,3591.570000,3577.610000,3555.160000,3524.420000
31,14320.790000,14373.330000,14386.890000,14586.500000,14731.540000,14879.730000,14902.720000,14732.530000,14769.060000,14676.430000
32,9054.870000,9022.990000,8969.600000,8945.640000,8945.530000,8950.460000,8893.610000,8853.640000,8771.110000,8781.960000
33,7380.250000,7457.920000,7687.830000,7734.780000,7794.750000,7986.310000,7908.500000,7956.130000,7952.900000,7815.890000
34,8058.000000,8178.100000,8299.600000,8352.700000,8398.600000,8355.200000,8292.000000,8270.100000,8109.300000,8122.800000
35,5457.700000,5486.800000,5525.900000,5553.000000,5570.600000,5579.100000,5602.100000,5596.900000,5555.900000,5521.200000

In [103]:
for i in range(6,42,6):
    data_[i] = data_inference.iloc[:i,:].mean(axis=0)

In [104]:
data_

,农业生态效率,农旅融合发展水平,财政支农力度,工业化水平,农业经济发展水平,农业机械化水平,农业从业人员,化肥折纯数,农药使用量,有效灌溉面积,农作物播种面积,6,12,18,24,30,36
2010,1.167128,0.032300,11.610679,45.654077,2868.999126,5040.401667,2910.421068,2040.850862,1533.274968,1781.323974,2815.407478,5040.401667,2910.421068,2040.850862,1533.274968,1781.323974,2815.407478
2011,1.142182,0.034715,11.073255,47.205306,3120.918595,5301.165000,3022.784970,2118.326707,1591.385856,1835.792351,2869.155848,5301.165000,3022.784970,2118.326707,1591.385856,1835.792351,2869.155848
2012,1.142977,0.061765,11.311255,46.392722,3286.625461,5577.114167,3157.272622,2209.533181,1659.792944,1905.858689,2937.163629,5577.114167,3157.272622,2209.533181,1659.792944,1905.858689,2937.163629
2013,1.141578,0.087107,11.296610,45.526572,3416.541035,5334.108667,3026.351747,2122.484170,1594.489353,1866.002149,2911.474013,5334.108667,3026.351747,2122.484170,1594.489353,1866.002149,2911.474013
2014,1.143300,0.124121,11.030625,42.840596,3505.771366,5536.745500,3131.428064,2193.491554,1647.702061,1927.165316,2969.887763,5536.745500,3131.428064,2193.491554,1647.702061,1927.165316,2969.887763
2015,1.150912,0.150609,11.466273,39.580301,3554.208608,5710.959333,3213.754634,2247.908334,1688.463226,1969.833247,3012.662984,5710.959333,3213.754634,2247.908334,1688.463226,1969.833247,3012.662984
2016,1.146109,0.189178,11.633777,38.310293,3671.359659,5159.587667,2926.770285,2055.375323,1543.998380,1858.716704,2915.333364,5159.587667,2926.770285,2055.375323,1543.998380,1858.716704,2915.333364
2017,1.153666,0.216522,11.435770,37.781553,3596.672722,5104.563167,2895.152772,2032.078803,1526.402661,1849.394462,2901.909552,5104.563167,2895.152772,2032.078803,1526.402661,1849.394462,2901.909552
2018,1.136457,0.262770,11.488180,35.130619,3601.602430,5222.416500,2948.365100,2064.230645,1550.378879,1889.421770,2927.668975,5222.416500,2948.365100,2064.230645,1550.378879,1889.421770,2927.668975
2019,1.110925,0.314597,10.992106,33.993155,3838.546219,5330.685000,2987.895686,2085.910568,1566.456760,1906.840074,2934.663951,5330.685000,2987.895686,2085.910568,1566.456760,1906.840074,2934.663951

In [105]:
data_.rename(columns={6:'农业机械化水平',12:'农业从业人员',18:'化肥折纯数',24:'农药使用量',30:'有效灌溉面积',36:'农作物播种面积'},inplace=True)

In [106]:
data_

,农业生态效率,农旅融合发展水平,财政支农力度,工业化水平,农业经济发展水平,农业机械化水平,农业从业人员,化肥折纯数,农药使用量,有效灌溉面积,农作物播种面积,农业机械化水平,农业从业人员,化肥折纯数,农药使用量,有效灌溉面积,农作物播种面积
2010,1.167128,0.032300,11.610679,45.654077,2868.999126,5040.401667,2910.421068,2040.850862,1533.274968,1781.323974,2815.407478,5040.401667,2910.421068,2040.850862,1533.274968,1781.323974,2815.407478
2011,1.142182,0.034715,11.073255,47.205306,3120.918595,5301.165000,3022.784970,2118.326707,1591.385856,1835.792351,2869.155848,5301.165000,3022.784970,2118.326707,1591.385856,1835.792351,2869.155848
2012,1.142977,0.061765,11.311255,46.392722,3286.625461,5577.114167,3157.272622,2209.533181,1659.792944,1905.858689,2937.163629,5577.114167,3157.272622,2209.533181,1659.792944,1905.858689,2937.163629
2013,1.141578,0.087107,11.296610,45.526572,3416.541035,5334.108667,3026.351747,2122.484170,1594.489353,1866.002149,2911.474013,5334.108667,3026.351747,2122.484170,1594.489353,1866.002149,2911.474013
2014,1.143300,0.124121,11.030625,42.840596,3505.771366,5536.745500,3131.428064,2193.491554,1647.702061,1927.165316,2969.887763,5536.745500,3131.428064,2193.491554,1647.702061,1927.165316,2969.887763
2015,1.150912,0.150609,11.466273,39.580301,3554.208608,5710.959333,3213.754634,2247.908334,1688.463226,1969.833247,3012.662984,5710.959333,3213.754634,2247.908334,1688.463226,1969.833247,3012.662984
2016,1.146109,0.189178,11.633777,38.310293,3671.359659,5159.587667,2926.770285,2055.375323,1543.998380,1858.716704,2915.333364,5159.587667,2926.770285,2055.375323,1543.998380,1858.716704,2915.333364
2017,1.153666,0.216522,11.435770,37.781553,3596.672722,5104.563167,2895.152772,2032.078803,1526.402661,1849.394462,2901.909552,5104.563167,2895.152772,2032.078803,1526.402661,1849.394462,2901.909552
2018,1.136457,0.262770,11.488180,35.130619,3601.602430,5222.416500,2948.365100,2064.230645,1550.378879,1889.421770,2927.668975,5222.416500,2948.365100,2064.230645,1550.378879,1889.421770,2927.668975
2019,1.110925,0.314597,10.992106,33.993155,3838.546219,5330.685000,2987.895686,2085.910568,1566.456760,1906.840074,2934.663951,5330.685000,2987.895686,2085.910568,1566.456760,1906.840074,2934.663951

In [107]:
y_1 = data_['农业机械化水平']
y_2 = data_['农业从业人员']
y_3 = data_['化肥折纯数']
y_4 = data_['农药使用量']
y_5 = data_['有效灌溉面积']
y_6 = data_['农作物播种面积']
list_y = [y_1,y_2,y_3,y_4,y_5,y_6]
coef = []
for i in list_y:
    LinearR_= LinearRegression().fit(X_2_1,i)
    coef.append([*(zip(X_2_.get_feature_names_out(X.columns),LinearR_.coef_))])

In [108]:
for i in coef:
    print(i[1:5])

[('农旅融合发展水平', array([-2.78022894e-06, -1.01517429e+00, -5.15038567e+01,  1.19979806e+03,
        1.54082158e+02, -3.57199650e+01,  2.20825765e+02,  1.19472319e+03,
       -1.94119630e+01,  1.00648633e+03, -4.79281891e+01, -6.12568439e+00,
        2.18696529e+01, -8.35118439e-01, -6.81277620e-03]))]
[('农旅融合发展水平', array([-1.57101869e-06, -6.44683315e-01, -3.02723194e+01,  6.86302942e+02,
        8.14733210e+01, -2.04081687e+01,  1.24952797e+02,  6.82746383e+02,
       -1.08017124e+01,  5.46388148e+02, -2.97700130e+01, -3.27763548e+00,
        1.20040495e+01, -4.53041579e-01, -3.46664087e-03]))]
[('农旅融合发展水平', array([-1.07762763e-06, -4.60621140e-01, -2.10620584e+01,  4.72905330e+02,
        5.49256573e+01, -1.40561029e+01,  8.57463466e+01,  4.70276054e+02,
       -7.39392217e+00,  3.69112899e+02, -2.06261551e+01, -2.20756213e+00,
        8.13792396e+00, -3.07759241e-01, -2.32385874e-03]))]
[('农旅融合发展水平', array([-8.08786200e-07, -3.45891981e-01, -1.58107282e+01,  3.54949039e+02,
        4.12032376e+01, -1.05500452e+01,  6.43553249e+01,  3.52974077e+02,
       -5.54944285e+00,  2.76968476e+02, -1.54954553e+01, -1.65622984e+00,
        6.10653907e+00, -2.30897621e-01, -1.74269563e-03]))]
[('农旅融合发展水平', array([-6.10992778e-07, -1.71975587e-01, -1.05632779e+01,  2.57911580e+02,
        3.31139331e+01, -7.69862663e+00,  4.85172596e+01,  2.57437853e+02,
       -4.16559147e+00,  2.35612325e+02, -1.54797279e+01, -1.38214642e+00,
        4.90284378e+00, -1.68320396e-01, -1.42036338e-03]))]
[('农旅融合发展水平', array([-4.48825632e-07, -9.52779111e-02, -7.25117114e+00,  1.85822818e+02,
        2.63730192e+01, -5.55784058e+00,  3.55698022e+01,  1.85785918e+02,
       -3.19992678e+00,  1.82797947e+02, -1.04559486e+01, -1.09300808e+00,
        3.52417494e+00, -1.26536761e-01, -1.18450902e-03]))]

- 优化最终版

In [109]:
data_1 = pd.read_excel(r"E:/数据分析数据集/td/农旅，生态和控制变量共5个.xlsx")
data_1

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1.774998,1.686731,1.664816,1.574633,1.532528,1.528995,1.562960,1.635969,1.589396,1.518274
1,1.155724,1.109405,1.106562,1.083351,1.089120,1.082336,1.067795,1.057742,1.062354,1.067817
2,0.683814,0.657436,0.667976,0.650093,0.671431,0.679139,0.660579,0.666876,0.665925,0.658146
3,1.268547,1.331027,1.342257,1.367772,1.380752,1.361947,1.381491,1.384042,1.308680,1.245205
4,1.100176,1.043647,1.043181,1.035559,1.037312,1.021850,1.022482,1.018190,1.010370,1.017639
5,1.019508,1.024848,1.033071,1.138058,1.148655,1.231205,1.181347,1.159180,1.182019,1.158469
6,0.040100,0.040379,0.078999,0.118322,0.160912,0.189872,0.211335,0.259785,0.319139,0.365890
7,0.004120,0.004607,0.037876,0.066473,0.061843,0.111517,0.135326,0.195978,0.255766,0.306250
8,0.024300,0.027333,0.057795,0.093800,0.150136,0.167663,0.167709,0.230820,0.267335,0.308324
9,0.044070,0.049163,0.067905,0.072407,0.182029,0.209511,0.234213,0.270746,0.299880,0.390227
10,0.034012,0.039327,0.052519,0.078746,0.120114,0.154131,0.189829,0.207329,0.274179,0.314198
11,0.047200,0.047482,0.075496,0.092892,0.069694,0.070960,0.196657,0.134473,0.160322,0.202692
12,10.443789,10.214098,11.220601,11.210305,10.626352,11.523959,12.599423,12.722358,13.570197,13.289654
13,11.685411,11.308552,11.020494,11.282964,10.979831,11.642731,10.827645,11.159485,10.860375,10.426085
14,11.304795,10.652959,10.867731,10.993241,10.777794,11.027602,11.313392,10.991779,10.724895,9.960109
15,12.210762,11.703279,11.144771,10.644493,9.805134,10.053580,10.969830,10.461903,10.822827,10.391320
16,11.939049,11.198216,10.870015,11.011848,11.113109,11.919972,11.511781,11.389971,12.374598,12.181040
17,12.080270,11.362425,12.743915,12.636808,12.881527,12.629795,12.580589,11.889124,10.576191,9.704426
18,52.313818,54.706588,51.557762,50.328475,45.234735,36.832176,34.729375,39.844742,39.229032,38.583623
19,52.751576,53.001594,51.852778,50.456334,45.724367,42.668772,42.342856,41.164736,34.691274,33.935646
20,43.751563,46.154902,46.629193,46.893644,45.352743,42.102044,41.782013,40.403842,35.457939,30.863976
21,41.452856,42.813396,43.093256,41.498013,38.923374,38.005438,37.586994,35.074742,35.337722,35.103476
22,37.968977,39.839048,39.717870,38.987626,38.096802,36.647908,34.161885,31.659499,29.688040,29.257685
23,45.685675,46.716308,45.505474,44.995339,43.711553,41.225465,39.258638,38.541758,36.379708,36.214521
24,1551.443296,1650.876007,1793.549247,1924.487598,2008.049166,1977.416774,1954.240497,1775.097577,1791.589048,1931.304222
25,3394.811271,3450.861270,3589.215671,3732.731371,3818.798752,3811.680464,3776.429635,3795.804049,3855.527089,4028.032250
26,2778.810307,3063.708465,3227.789622,3372.988909,3480.964609,3526.497424,3625.065936,3689.416716,3668.488148,3923.567881
27,3751.022048,4280.064688,4527.943961,4773.567107,4904.379659,5040.196077,5425.141021,5202.284906,5151.851869,5363.425598
28,3032.993725,3333.900987,3457.158644,3427.585708,3450.180330,3487.950214,3603.941180,3683.952612,3711.655503,4255.792999
29,2704.914107,2946.100149,3124.095621,3267.885520,3372.255679,3481.510695,3643.339684,3433.480472,3430.502923,3529.154364

In [110]:
data_2 = pd.read_excel(r"E:/数据分析数据集/td/影响机制检验因素共6个.xlsx")
data_2

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,2809.200000,2927.300000,3056.100000,3183.300000,3286.200000,3351.700000,1744.300000,1376.300000,1441.100000,1517.600000
1,10195.880000,10515.790000,10872.730000,11149.960000,11476.810000,11710.080000,9858.820000,10038.320000,10204.460000,10356.970000
2,5409.780000,5657.080000,5902.770000,6140.280000,6365.830000,6580.990000,6867.500000,6312.860000,6543.810000,6650.470000
3,3371.000000,3571.230000,3842.160000,4081.050000,4292.900000,4468.120000,4187.750000,4335.470000,4424.590000,4515.730000
4,4651.550000,4935.590000,5189.240000,5435.930000,5680.340000,5894.050000,6097.540000,6254.830000,6338.570000,6471.820000
5,3805.000000,4200.000000,4599.685000,2014.132000,2118.393000,2260.816000,2201.616000,2309.599000,2381.969000,2471.520000
6,391.979519,393.563024,391.878669,393.747016,397.400626,392.180162,382.036058,407.461773,414.419249,392.824807
7,1690.847679,1566.957936,1582.180801,1524.007277,1610.285417,1596.089434,1555.345858,1501.562724,1471.994441,1442.046676
8,831.060625,795.572294,770.050574,737.476712,712.921942,694.268339,667.050440,664.586290,652.844747,617.176203
9,497.459136,483.640738,459.361639,456.850139,444.283711,431.514096,411.613347,420.460812,423.120438,420.117038
10,888.172470,854.014995,857.402870,844.254405,840.385408,804.091602,780.079562,754.932420,726.686903,671.513621
11,383.123393,372.680646,363.711907,355.233414,351.386666,381.155979,367.592152,365.450241,356.816426,326.959887
12,110.400000,114.600000,118.300000,112.000000,119.600000,118.500000,117.100000,112.000000,109.600000,108.400000
13,655.150000,673.710000,684.430000,696.370000,705.750000,716.090000,715.030000,706.700000,692.790000,666.720000
14,319.772700,329.671100,333.525800,338.404100,341.391200,338.694400,327.008200,318.723700,311.750400,298.022000
15,350.770000,354.890000,357.660000,351.930000,348.270000,333.870000,327.960000,317.930000,295.820000,273.890000
16,236.570000,242.490000,249.110000,248.190000,247.800000,246.540000,246.440000,245.260000,242.610000,229.010000
17,137.600000,141.100000,141.300000,141.600000,142.900000,143.600000,141.974200,134.971500,123.200000,115.600000
18,2.600000,2.800000,3.000000,3.100000,3.100000,3.100000,3.100000,2.900000,2.700000,2.500000
19,12.490000,12.870000,12.830000,13.010000,12.990000,12.870000,12.710000,12.070000,11.360000,10.720000
20,11.664500,11.747500,11.674100,11.777400,11.397400,11.104800,10.570400,9.939400,9.417700,8.827100
21,14.000000,13.950000,13.590000,12.720000,12.610000,12.070000,11.740000,10.960000,10.330000,9.700000
22,11.876200,12.043200,12.298000,12.429800,12.427700,12.235300,11.866100,11.602300,11.415500,10.554800
23,10.653000,9.969100,10.041300,9.992200,9.476400,9.387300,9.218800,8.773700,7.718300,6.270100
24,1274.150000,1324.780000,1319.160000,1382.790000,1408.170000,1460.280000,1487.210000,1511.210000,1518.680000,1519.340000
25,5080.960000,5150.440000,5205.630000,4969.110000,5101.100000,5210.640000,5242.920000,5273.630000,5288.690000,5328.950000
26,3519.780000,3547.650000,3585.090000,4305.530000,4331.700000,4400.340000,4437.460000,4504.140000,4538.290000,4580.850000
27,2187.170000,2227.630000,2252.910000,2291.170000,2325.840000,2359.600000,2368.750000,2384.140000,2931.900000,2968.990000
28,2726.660000,2762.410000,3070.840000,2768.120000,3101.700000,3113.320000,3132.370000,3145.870000,3164.000000,3176.110000
29,1852.400000,1867.600000,1907.100000,1995.600000,2001.600000,2027.700000,2036.830000,2029.180000,2032.000000,2036.000000
30,3643.340000,3696.700000,3692.310000,3660.380000,3659.980000,3610.070000,3591.570000,3577.610000,3555.160000,3524.420000
31,14320.790000,14373.330000,14386.890000,14586.500000,14731.540000,14879.730000,14902.720000,14732.530000,14769.060000,14676.430000
32,9054.870000,9022.990000,8969.600000,8945.640000,8945.530000,8950.460000,8893.610000,8853.640000,8771.110000,8781.960000
33,7380.250000,7457.920000,7687.830000,7734.780000,7794.750000,7986.310000,7908.500000,7956.130000,7952.900000,7815.890000
34,8058.000000,8178.100000,8299.600000,8352.700000,8398.600000,8355.200000,8292.000000,8270.100000,8109.300000,8122.800000
35,5457.700000,5486.800000,5525.900000,5553.000000,5570.600000,5579.100000,5602.100000,5596.900000,5555.900000,5521.200000

In [119]:
columns = ['农业生态效率','农旅融合发展水平','财政支农力度','工业化水平','农业经济发展水平','农业机械化水平','农业从业人员','化肥折纯数','农药使用量','有效灌溉面积','农作物播种面积']
indexs = ['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']

In [153]:
list_1 = []
for m,i in zip(range(0,30,6),range(6,36,6)):
    list_1.append(data_1.iloc[m:i,:].mean(axis=0))

In [154]:
pd.DataFrame(list_1).T

             0         1          2          3            4
2010  1.167128  0.032300  11.610679  45.654077  2868.999126
2011  1.142182  0.034715  11.073255  47.205306  3120.918595
2012  1.142977  0.061765  11.311255  46.392722  3286.625461
2013  1.141578  0.087107  11.296610  45.526572  3416.541035
2014  1.143300  0.124121  11.030625  42.840596  3505.771366
2015  1.150912  0.150609  11.466273  39.580301  3554.208608
2016  1.146109  0.189178  11.633777  38.310293  3671.359659
2017  1.153666  0.216522  11.435770  37.781553  3596.672722
2018  1.136457  0.262770  11.488180  35.130619  3601.602430
2019  1.110925  0.314597  10.992106  33.993155  3838.546219

In [155]:
list_2 = []
for m,i in zip(range(0,36,6),range(6,42,6)):
    list_2.append(data_2.iloc[m:i,:].mean(axis=0))

In [156]:
pd.DataFrame(list_2).T

                0           1           2          3            4            5
2010  5040.401667  780.440470  301.710450  10.547283  2773.520000  7985.825000
2011  5301.165000  744.404939  309.410183  10.563300  2813.418333  8035.973333
2012  5577.114167  737.431077  314.054300  10.572233  2890.121667  8093.688333
2013  5334.108667  718.594827  314.749017  10.504900  2952.053333  8138.833333
2014  5536.745500  726.110628  317.618533  10.333583  3045.018333  8183.500000
2015  5710.959333  716.549935  316.215733  10.127900  3095.313333  8226.811667
2016  5159.587667  693.952903  312.585400   9.867550  3117.590000  8198.416667
2017  5104.563167  685.742377  305.930867   9.374233  3141.361667  8164.485000
2018  5222.416500  674.313700  295.961733   8.823583  3245.593333  8118.905000
2019  5330.685000  645.106372  281.940333   8.095333  3268.373333  8073.783333

In [157]:
data = pd.concat([pd.DataFrame(list_1).T,pd.DataFrame(list_2).T],axis=1)

In [159]:
data.columns = columns

In [160]:
data

,农业生态效率,农旅融合发展水平,财政支农力度,工业化水平,农业经济发展水平,农业机械化水平,农业从业人员,化肥折纯数,农药使用量,有效灌溉面积,农作物播种面积
2010,1.167128,0.032300,11.610679,45.654077,2868.999126,5040.401667,780.440470,301.710450,10.547283,2773.520000,7985.825000
2011,1.142182,0.034715,11.073255,47.205306,3120.918595,5301.165000,744.404939,309.410183,10.563300,2813.418333,8035.973333
2012,1.142977,0.061765,11.311255,46.392722,3286.625461,5577.114167,737.431077,314.054300,10.572233,2890.121667,8093.688333
2013,1.141578,0.087107,11.296610,45.526572,3416.541035,5334.108667,718.594827,314.749017,10.504900,2952.053333,8138.833333
2014,1.143300,0.124121,11.030625,42.840596,3505.771366,5536.745500,726.110628,317.618533,10.333583,3045.018333,8183.500000
2015,1.150912,0.150609,11.466273,39.580301,3554.208608,5710.959333,716.549935,316.215733,10.127900,3095.313333,8226.811667
2016,1.146109,0.189178,11.633777,38.310293,3671.359659,5159.587667,693.952903,312.585400,9.867550,3117.590000,8198.416667
2017,1.153666,0.216522,11.435770,37.781553,3596.672722,5104.563167,685.742377,305.930867,9.374233,3141.361667,8164.485000
2018,1.136457,0.262770,11.488180,35.130619,3601.602430,5222.416500,674.313700,295.961733,8.823583,3245.593333,8118.905000
2019,1.110925,0.314597,10.992106,33.993155,3838.546219,5330.685000,645.106372,281.940333,8.095333,3268.373333,8073.783333

In [162]:
X = data.iloc[:,1:5]
X

      农旅融合发展水平     财政支农力度      工业化水平     农业经济发展水平
2010  0.032300  11.610679  45.654077  2868.999126
2011  0.034715  11.073255  47.205306  3120.918595
2012  0.061765  11.311255  46.392722  3286.625461
2013  0.087107  11.296610  45.526572  3416.541035
2014  0.124121  11.030625  42.840596  3505.771366
2015  0.150609  11.466273  39.580301  3554.208608
2016  0.189178  11.633777  38.310293  3671.359659
2017  0.216522  11.435770  37.781553  3596.672722
2018  0.262770  11.488180  35.130619  3601.602430
2019  0.314597  10.992106  33.993155  3838.546219

In [164]:
X_1 = StandardScaler().fit_transform(X)

In [177]:
poly = PF(degree=3)
X_2 = poly.fit(X_1)

In [178]:
X_2.get_feature_names_out(X.columns)

array(['1', '农旅融合发展水平', '财政支农力度', '工业化水平', '农业经济发展水平', '农旅融合发展水平^2',
       '农旅融合发展水平 财政支农力度', '农旅融合发展水平 工业化水平', '农旅融合发展水平 农业经济发展水平',
       '财政支农力度^2', '财政支农力度 工业化水平', '财政支农力度 农业经济发展水平', '工业化水平^2',
       '工业化水平 农业经济发展水平', '农业经济发展水平^2', '农旅融合发展水平^3', '农旅融合发展水平^2 财政支农力度',
       '农旅融合发展水平^2 工业化水平', '农旅融合发展水平^2 农业经济发展水平', '农旅融合发展水平 财政支农力度^2',
       '农旅融合发展水平 财政支农力度 工业化水平', '农旅融合发展水平 财政支农力度 农业经济发展水平',
       '农旅融合发展水平 工业化水平^2', '农旅融合发展水平 工业化水平 农业经济发展水平',
       '农旅融合发展水平 农业经济发展水平^2', '财政支农力度^3', '财政支农力度^2 工业化水平',
       '财政支农力度^2 农业经济发展水平', '财政支农力度 工业化水平^2', '财政支农力度 工业化水平 农业经济发展水平',
       '财政支农力度 农业经济发展水平^2', '工业化水平^3', '工业化水平^2 农业经济发展水平',
       '工业化水平 农业经济发展水平^2', '农业经济发展水平^3'], dtype=object)

In [179]:
X_3 = X_2.transform(X_1)

In [180]:
y_1 = data['农业生态效率']
y_2 = data['农业机械化水平']
y_3 = data['农业从业人员']
y_4 = data['化肥折纯数']
y_5 = data['农药使用量']
y_6 = data['有效灌溉面积']
y_7 = data['农作物播种面积']
list_y = [y_1,y_2,y_3,y_4,y_5,y_6,y_7]
coef = []
for i in list_y:
    LinearR= LinearRegression().fit(X_3,i)
    coef.append([*(zip(X_2.get_feature_names_out(X.columns),LinearR.coef_))][1:5])

In [181]:
coef

[[('农旅融合发展水平', 0.00633006224788884),
  ('财政支农力度', 0.0005909730969323432),
  ('工业化水平', -0.00492145462377042),
  ('农业经济发展水平', 0.002409671417677582)],
 [('农旅融合发展水平', -415.7802219234368),
  ('财政支农力度', 293.1379048656102),
  ('工业化水平', -106.73142292762464),
  ('农业经济发展水平', -227.73950771541632)],
 [('农旅融合发展水平', -19.38592642389604),
  ('财政支农力度', 8.52423388579592),
  ('工业化水平', 0.8759306807675576),
  ('农业经济发展水平', -10.426470930000658)],
 [('农旅融合发展水平', -4.320483797641868),
  ('财政支农力度', 1.6549293630997959),
  ('工业化水平', 0.7513510849126879),
  ('农业经济发展水平', -1.2893110741521465)],
 [('农旅融合发展水平', -0.407395468783046),
  ('财政支农力度', 0.059469407476630626),
  ('工业化水平', 0.21876174853421998),
  ('农业经济发展水平', -0.13985218747584946)],
 [('农旅融合发展水平', 26.450042614872476),
  ('财政支农力度', 16.014316549854342),
  ('工业化水平', -41.428839047417036),
  ('农业经济发展水平', 12.965493053984806)],
 [('农旅融合发展水平', -17.982554693980287),
  ('财政支农力度', 22.59837385122185),
  ('工业化水平', -14.47771432116062),
  ('农业经济发展水平', -0.6001433778836147)]]